.carousel-box {
	width: 1158px;
	height: 262px;

	margin-left: auto;
	margin-right: auto;
}

.card {
	height: 262px;
	width: 206px;
	background-color: lightblue;
	border-radius: 20px;
	display: flex;
	flex-direction: row;
}

.title {
	display: flex;
}
