h1 {
	font-style: normal;
	font-weight: 600;
	font-size: 14px;

	color: #ffffff;
}
h2 {
	font-style: normal;
	font-weight: 600;
	font-size: 24px;

	color: #ffffff;
}

.carousel-box {
	width: 100%;
	max-width: 1150px;
	height: 262px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: auto;
}

.card {
	height: 262px;
	width: 206px;
	background-color: lightblue;
	border-radius: 20px;
	margin-left: auto;
	margin-right: auto;
}

.title {
	display: flex;
	margin-top: auto;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
}
