.menu-after-login {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	width: 100%;

	.menu-icon {
		margin-top: auto;
		margin-bottom: auto;
		font-size: 20px;
		color: #9b9b9b;
	}
	.photo-box {
		height: 30px;
		width: 30px;
		display: flex;
		align-items: center;
		border-radius: 50%;
		img {
			width: 30px;
			clip-path: circle();
		}
	}
}
