.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-color: white;
	z-index: 9999;

	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 100%; /* Full width */
	.navbar-inside {
		display: flex;
		flex-direction: row;
		align-items: center;

		justify-content: space-between;
		margin: 0;
		padding: 0;
	}
	@media all and (max-width: '989px') {
		.navbar-inside {
			display: none;
		}
	}
	@media all and (min-width: '989px') {
		.navbar-mobile {
			display: none;
		}
	}
}
