.wrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.navbar {
	display: flex;
	justify-content: space-around;
	z-index: 9999;
	height: 100px;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	width: 70%; /* Full width */
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	color: #414141;
	background-color: white;
	margin-top: 0px;
}
