.header {
	display: flex;

	width: 100vw;

	display: flex;
	justify-content: space-around;
	z-index: 9999;
	position: fixed; /* Set the navbar to fixed position */
	top: 0; /* Position the navbar at the top of the page */
	background-color: white;
}
