body {
	background-color: #f5f6fa;
}

.color-blue {
	color: #2395ff;
}

.form {
	margin-top: 3vw;
}

aside {
	position: relative;
	width: 325px;
	height: 710px;
	left: 70px;
	top: 130px;
	margin-bottom: 15vw;
}

.button-save {
	border: none;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin: 5vw;

	background: #2395ff;
	color: white;
	box-shadow: 0px 8px 10px rgba(35, 149, 255, 0.3);
	border-radius: 10px;
}

section {
	background-color: white;
	border: #dfdfdf;
	border-radius: 15px;
	margin: 10vw;
	padding: 2vw;
	float: right;
}

.contact,
.biodata {
	padding: 5px;
	line-height: 60px;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	background-color: white;
}

.user-box {
	position: relative;
}
.user-box input,
.user-box select {
	font-size: 16px;
	border: none;
	border-bottom: 1px solid rgba(210, 194, 255, 0.68);
	outline: none;
	background: transparent;
	width: 25vw;
}
.user-box label {
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	font-size: 15px;
	color: #9b96ab;
	pointer-events: none;
	transition: 0.5s;
}
.user-box input:focus ~ label,
.user-box input:valid ~ label {
	top: -20px;
	left: 0;
	font-size: 10px;
}
