@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


.container {
    display: flex;
    font-family: 'Poppins', sans-serif;
}

.baground-img {
    background-color: #2395FF;
    height: 100vh;
    display: flex;
    align-items: center;
    width: 60%;
}

.baground-img img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.content-wrap {
    right: 0;
    width: 570px;
    height: 100vh;
}

.logo {
    display: flex;
    margin-bottom: 148px;
    margin-top: 20px;
}
.logo h3 {
    margin-left: 15px;
}

.card {
    border: none;
    width: max-content;
    margin-left: auto;
    margin-right: auto;
}

.form-input {
    width: 100%;
}

.input-email {
    border: none;
    box-sizing: unset;
    padding: 10px;
    width: 319px;
    border-bottom: 2px solid #D2C2FFAD;
}

.input-email:focus {
    outline: none;
}

.btn-send {
    border: none;
    background-color: #2395FF;
    width: 100%;
    padding: 15px;
    color: white;
    font-size: 18px;
    font-weight: 700;
    box-shadow: 0px 8px 10px 0px #2395FF4D;
    border-radius: 10px;
    margin-top: 18px;
}

.text-center {
    padding-top: 18px;
    text-align: center;
    color: #595959;
}

@media only screen and (max-width: 768px) {
    .baground-img {
        display: none;
    }

    .content-wrap {
        width: 100%;
    }
}